{{outlet}}

{{#link-to 'edit'}}<div class="prof-edit-button">Edit</div>{{/link-to}}
<div class="index-info">

  <div class="index-headline">
  <h2>Contact Info</h2>
  </div>

<ul>
  <li>{{session.currentUser.firstName}}</li>
  <li>{{session.currentUser.lastName}}</li>
  <li>{{session.currentUser.email}}</li>
</ul>

<div class="appointment-headline">
<h2>Appointments</h2>
</div>
{{#each appointment in model}}
<ul>
  <li>{{appointment.firstName}}{{appointment.lastName}}{{appointment.email}}{{appointment.reason}}</li>
</ul>

{{/each}}
</div>
