
<div class="form-container">
  <form {{action "createAppointment" on="submit"}}>
    <p class="form-description">First Name:</p>
    {{input type="text" class="create-first-name" placeholder="First Name" value="firstName"}}
    <p class="form-description">Last Name:</p>
    {{input type="text" class="create-last-name" placeholder="Last Name" value="lastName"}}
    <p class="form-description">Email:</p>
    {{input type="text" class="create-email" placeholder="Email" value="email"}}
    <p class="form-description">Reason For Appointment:</p>
    {{textarea type="text" class="create-reason" placeholder="Reason for appointment" value="reason"}}
    {{button }}
  </form>




</div>

{{outlet}}
